node_modules/
node_modules/**
/node_modules
**/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

dist/
build/

.env
.env.local

.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db


logs/
*.log

*.tmp
*.temp
.cache/

*.tsbuildinfo